$color-light-gray: #e3e3e3;

// Text colors
// TODO: Make these more generic - text colors are being used all over the place
$color-text-navy: #23395d;
$color-text-xlight: $gray-300;
$color-text-light: $gray-400;
$color-text-primary: $gray-600;
$color-text-dark: $gray-800;
$color-text-xdark: $black;

$color-debug-red: #ffcccb;
$color-debug-yellow: #ffff99;