
body#home {
    font-family: 'Radley', serif;

    h1.site-title {
        text-align: center;
        font-size: 4.5rem;
        padding: 0;
        font-family: $font-primary-xbold;
        vertical-align: middle;
        margin-bottom: 2rem;
        user-select: none;

        @include media-breakpoint-up(md) {
            font-size: 7rem;
            margin-bottom: 6rem;
        }
    }

    p {
        @include font-size(1.5rem);
        line-height: 1.5;

        @include media-breakpoint-up(md) {
            line-height: 2;
        }
    }

    a {
        text-decoration: none;
    }

    .half {
        width: 50%;
        min-height: 100%;
        padding: 2rem 1rem 1rem 1rem;

        @include media-breakpoint-up(md) {
            padding: 8rem 4rem 4rem 4rem;
        }        
    }

    .dark {
        background-color: $color-text-navy;

        h1 {
            color: $color-light-gray;
        }

        p {
            color: $gray-500;
        }

        a {
            color: $gray-400;
            border-bottom: 1px solid $gray-400;

            &:hover {
                border-bottom: 1px solid $gray-300;
                color: $gray-300;
            }
        }
    }

    .light {
        background-color: $gray-100;

        p {
            color: $color-text-navy;
        }

        a {
            color: $color-text-navy;
            border-bottom: 1px solid $color-text-navy;

            &:hover {
                border-bottom: 1px solid $color-text-navy;
                color: $color-text-navy;
            }
        }
    }
}
