---
layout: default
---

<article>
    {%- include post_title.html title=page.title subtitle=page.subtitle -%}

    <header class="post-meta sticky-top" id="post-meta">
        <div class="d-flex">
            <div class="flex-fill" id="post-meta-title">
                {{ page.title }}
            </div>
            <div class="flex-fill text-end">
                {%- if page.categories.size > 0 %}
                    Posted in 
                    {%- for category in page.categories -%}
                        {%- if page.categories.size > 1 -%}
                            {%- if category == page.categories.last -%}
                                , and 
                            {%- elsif category != page.categories.first -%}
                                ,
                            {%- endif %}
                        {%- endif %}
                        <a href="/{{ category | slugify }}">
                            {{- category | capitalize -}}
                        </a>
                    {%- endfor %}
                {%- endif %}
                on {{ page.date | date: "%-b. %-d, %Y" }}
            </div>
            <div class="scroll-to-top flex-grow-0">
                <img src="/assets/icons/up-arrow.svg" class="arrow" alt="Up">
            </div>
        </div>
    </header>

    <div id="post-content">
        {{ content }}
    </div>
</article>

